<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
<% } %>
</head>
<body>
<nav>
<<<<<<< HEAD
    <i class="fas fa-regular fa-hard-drive"></i>
=======
  <i class="fas fa-regular fa-hard-drive"></i>
>>>>>>> e2efce5f494431ef07389465c2e925968a434git 49a
  <a href="/genres">GENRES</a>
<% if (user) { %>
  <a href="/profiles">PROFILE</a>
    <a href="/auth/logout">LOGOUT</a>
  <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="medium"
      data-theme="filled_black"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
  <% } %>
</nav>